.KittenPicker .kittenProduct{
	padding: 1em;
	cursor: pointer;
	text-align: center;
	color: #666;
}
.KittenPicker .kittenProduct img {
	width: 100%;
	border-radius: 50%;
	border: 1rem solid #ccc;
}
.KittenPicker .kittenProduct.selected{
	color: #0f0;
}
.KittenPicker .kittenProduct.selected img{
	border: 1rem solid #0f0;
}
