@mixin transition ($speed: 250ms) {
	$properties: all $speed;
	-webkit-transition: $properties;
	-moz-transition: $properties;
	-ms-transition: $properties;
	transition: $properties;
}
.SlideSelectHolder {
	position: relative;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		display: block;
	}
	.SlideSelect {
		position: relative;
		display: block;
		overflow: hidden;
		> ul {
			list-style-type: none;
			&.slideList {
				position: relative;
				overflow: hidden;
				> li {
					display: block;
					float: left;
					font-size: 1.5rem;
				}
			}
		}

		&.product {
			> ul.slideList {
				> li {
					padding: 0 0.5rem;
					> a {
						display: block;
						cursor: pointer;
						text-decoration: none;
						color: #369;
						img {
							width: 100%;
						}
						span {
							display: block;
							padding: 0.25rem 0;
						}
					}
				}
			}
			@media screen and (min-width: 480px) {
				> ul.slideList > li > a {
				}
			}
		}

		&.hero {
			height: 36rem;
			> ul {
				&.slideList {
					> li {
						height: 36rem;
						line-height: 36rem;
					}
				}
			}
		}
		&.nativeScroll {
			overflow-x: scroll;
			overflow-scrolling: touch;
			-webkit-overflow-scrolling: touch;
		}
	}

	ul.dotList {
		background-color: #999;
		display: block;
		font-size: 0;
		width: 100%;
		height: 3rem;
		list-style-type: none;
		> li {
			display: inline-block;
			> a {
				display: block;
				padding: 0 1rem;
				cursor: pointer;
				text-decoration: none;
				> span {
					display: none;
				}
				&:before {
					@include transition;
					display: block;
					content: '\2022';
					font-size: 5rem;
					line-height: 3rem;
					color: #fff;
				}
				&:hover:before {
					color: #ccc;
				}
			}
			&.active > a:before {
				color: #000;
			}
		}
	}
	.arrow {
		position: absolute;
		top: 25%;
		display: block;
		height: 50%;
		$borderRadius: 0.5rem;

		&.prev {
			left: 0;
			> a {
				border-radius: 0 $borderRadius $borderRadius 0;
				border-left: none;
			}
		}
		&.next {
			right: 0;
			> a {
				border-radius: $borderRadius 0 0 $borderRadius;
				border-right: none;
			}
		}
		> a {
			@include transition;
			opacity: 0.25;
			background-color: #fff;
			position: relative;
			display: block;
			height: 100%;
			width: 4rem;
			color: rgba(0, 0, 0, 0.125);
			text-decoration: none;
			cursor: default;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
			> svg {
				position: absolute;
				display: block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				polyline {
					@include transition;
					fill: none;
					stroke: #ccc;
					stroke-width: 4px;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-miterlimit: 10;
				}
			}
		}
		&.active > a {
			opacity: 0.75;
			cursor: pointer;
			color: rgba(0, 0, 0, 0.55);
			&:hover {
				opacity: 1;
				svg polyline {
					stroke: #666;
				}
			}
		}
	}
}
